.top-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.post {
    /* background-color: #000000;
    color: #ffffff; */
    margin-bottom: 0;
    margin-top: 0;
}

.blog-title {
    background-color: inherit;
    font-size: 1.5rem;
    /* margin-top: 0; */
    padding-top: 1rem;
    /* margin-bottom: 0; */
}

.blog-summary {
    font-size: 0.95rem;
    /* margin-bottom: 0rem; */
    /* padding-bottom: 0rem; */
}

.hr-between-posts {
    border-width: medium;
    width: 15%;
    margin-left: 0;
}