.top-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.bottom-container {
    background-color: black;
    color: white;
    padding: 20px;
}

.post {
    background-color: darkblue;
}